@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Roboto:wght@300;400;500&display=swap');

/* Reset */
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td
{margin:0;padding:0;color:#000;-webkit-text-size-adjust:none;}
b, span, strong, input, a, button, pre {font-size:inherit;font-family:inherit;color:inherit}
article, aside, dialog, footer, header, section, footer, nav, figure, hgroup, details, summary, figure, figcaption {display: block;}
html, body {height:100%;}
body {margin:0px;overflow-x:hidden;overflow-y:scroll;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
img {border:0;max-width:100%}
label, input, textarea, select {vertical-align:middle}
ol, ul {list-style:none;}
table {border-collapse:collapse;table-layout:fixed;}
fieldset {border:none}
hr {position:absolute;left:-1000%;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
button {margin:0;padding:0;border:none;background:none;cursor:pointer;display:inline-block;overflow:visible}
figure {margin:0;padding:0}

#randomBg {width:100%;height:100vh;}
#randomBg .content_wrap {display:flex;height:100%;align-items:center;justify-content:center;flex-direction:column;}
#randomBg .content_wrap p {display:block;margin-bottom:15px;font-size:50px;text-align:center;font-family:'Roboto', serif;font-weight:500;letter-spacing:-1px;}
#randomBg .generator  {display:block;width:200px;height:50px;border:1px solid #000;box-sizing:border-box;text-align:center;line-height:50px;font-family:'Roboto', serif;font-size:18px;font-weight:500;letter-spacing:-0.5px;transition:0.2s all;}
#randomBg .generator:hover {background:#fff;color:#000;border-color:#fff;}

